@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-black;
  @apply text-white;
}

input {
  @apply border-green;
  @apply rounded;
  border-width: 1px;
  padding-inline: 10px;
  @apply text-green;
  @apply bg-gray-900;
  width: 100px;
}

input::placeholder {
  @apply text-gray-400;
}

.focused-row,
.martingale-row:hover {
  @apply border-green;
  @apply border;
}

.header-logo {
  height: 25px;
  width: 25px;
}

.link {
  padding-inline: 40px;
}

.header-title {
  width: 450px;
}
